/* section songs */
.songs{
  width: 600px;
  padding: 10px;

  margin: auto;
  margin-top: 60px;
}

.songs-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.songs-list{
  display: flex;
  flex-direction: column;
}

.song-item{
  padding: 15px;
  margin: 5px;
  background-color: cadetblue;
  color: white;
}

.song-list-item{}

.song-box-item{
  width: 260px;
}

.song-input{
  padding: 10px;
  border: 2px #eee solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* others */

.btn-change{
  background-color: #419aff;
  border: none;
  padding: 10px 15px;
  color: white;
  margin: 0 10px;
  cursor: pointer;
}
